<table id="square-table" class="square-table">
   <tr>
      <th colspan="12" id="afc-label" class="table-label">AFC Team</th>
   </tr>
   <tr>
      <td rowspan="11" id="nfc-label" class="table-label">NFC Team</td>
      <td></td>
      {% for i in range(10) %}
          <td class="table-label" data-afc="{{ i }}">&nbsp;&nbsp;&nbsp;?&nbsp;&nbsp;&nbsp;</td>
      {% endfor %}
   </tr>
   {% for i in range(10) %}
       <tr>
           <td class="table-label" data-nfc="{{ i }}">&nbsp;&nbsp;&nbsp;?&nbsp;&nbsp;&nbsp;</td>
           {% for j in range(10) %}
               <td data-square-pos="{{i * 10 + j}}" class="td-noname">&nbsp;&nbsp;&nbsp;?&nbsp;&nbsp;&nbsp;</td>
           {% endfor %}
       </tr>
   {% endfor %}
</table>
