<!doctype html>
<html>
<head>
{% block head %}
<title>Squares</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <script src="https://raw.githubusercontent.com/nakupanda/bootstrap3-dialog/master/src/js/bootstrap-dialog.js"></script>
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
{% endblock %}
</head>
<body>

<div id="wrap">

<div id="header">
</div> <!-- close header -->

<div id="main">

<div id="left">
</div> <!-- close left -->

<div id="middle">
{% block middle_div %}
{% endblock %}
</div> <!-- close middle -->

<div id="right">
</div> <!-- close right -->

</div> <!-- close main -->

<div id="footer">
  <p>Powered by <a href="https://github.com/nyanshak/squares">Open Source</a></p>
</div> <!-- close footer -->

</div> <!-- close wrap -->

</body>
</html>
