.div {
  float: left;
  width: 100%;
}

#afc-label {
  text-align: center;
}


table.center {
  margin-left: auto;
  margin-right: auto;
}

table .label {
  font-weight: bold;
}

#wrap {
  width: 100%;
  margin: 0 auto;
  float: left;
}

#left {
  float: left;
}

#right {
  width: 20%;
}

#middle {
  margin-right: 20%;
  margin-left: 10%;
}

table, td, th {
  border-collapse: collapse;
  border: solid 1px black;
  padding: 5px;
}


.td-noname {
  background: #F08080;
}

.td-named {
  background: #FFA07A;
}

.td-verified {
  background: #90EE90;
}

.hover {
  background: #F8F8FF;
}

#footer {
  position:fixed;
  height:50px;
  background-color: #D4D4D8;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
}
